*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 10%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: 
    linear-gradient(
        hsl(197, 4%, 31%),
        hsl(198, 11%, 47%),
        rgb(134, 117, 117),
        rgb(91, 73, 73)
    )
;
    color: rgb(236, 236, 236);
    align-content: center;
    text-align: center;
}
